.calc {
    width: 200px;
    height: 200px;
    display: flex;
}

.display {
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 24px;
}

.numbers {
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap; 
    max-width: 120px;
    max-height: 160px;
}

.number {
    height: 40px;
    width: 40px;
    margin: 0;
}

.bottomrow {
    width: 120px;
    max-height: 40px;
    display: flex;
    gap: none;

}
#enter {
    width: 76px;
    height: 40px;
    background-color: rgb(192, 192, 255);
}

.operators {
    display: flex;
    flex-wrap: wrap;
    max-width: 80px;
    max-height: 160px;
}
.operator {
    background-color: darkslategrey;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    flex: 1 0 auto;
}